

.top-page{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
    background-size: cover;
    background-position: center 37%;
}

.top-page::before{
    content: "";
    background-size: cover;
    background-position: center 37%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.top-page h1{
    font-size: 2.4rem;
    color: white;
}

.top-page p{
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

.heading{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px){
    .top-page h1{
    font-size: 2rem;
}
}